* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.profile {
  border: 1px solid;
}
#landing {
  display:flex;
  flex-direction: column;
}

#naxbar ul {
  width: 75%;
  display: inline-flex;
  justify-content: flex-end;
  gap: 5%;
  list-style: none;
  border-radius: 10%;
}
#landing {
  width: 100%;
  height: 300%;
  font-size: 1vw;
}
nav > a {
  text-align: center;
  color:rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  white-space: nowrap;
}
nav > a:hover{
  font-weight: 700;
    color:green;
}
@keyframes JoinHover {
  100% {
  background-color:#6DCA4C;
  color: black;
  }
}
@keyframes JoinHoverOut {
  from {
  background-color:#2C6916;
  color: black;
  }
  to {
  }
}
.join-text a:hover{
  animation-name: JoinHover;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
.join-text h1 {
  white-space: nowrap;
  text-overflow:clip;
  text-align: left !important;
  font-size: 3vw;
}
.join-text p {
  font-size: 2vw;
  margin-top: 5vh;

}
nav {
  gap: 5vw;
  list-style: none;
  text-decoration: none;
  display:grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
#frp {
  width: 100%;
  height: 100%;
}
#logo {
  height: 5vw;
  width: 5vw;
}
.nav-wrapper {
  width: 100%;
  display:flex;
  flex-direction: column;
  border-radius: 0 0 5% 5%;
}
#navbar {
  background-color:#93DE81;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#about-frp {
  border-radius: 5%;
  border-color: black;
  border: 1px solid;
  color: black;
  text-align: center;
  width: 100%;
  margin:auto;
  text-decoration: none;
}
#about-frp > h1 {
  padding-top: 50px;
}
#about-frp > h2 {
  align-self:center;
}
#about-frp a {
  text-decoration: none;
 }
#about-frp a:hover {
  text-decoration: double;
}
.how-flex {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
#work-frp {
  color: black;
  margin: auto;
  width: 80%;
  min-height: 100vh;
  max-height: fit-content;
  
}
#involved-frp {
  padding: 2%;
  width: 100%;
  margin: auto;
  background-color: #2C6916;
}

.how-info {
  text-align: left;
  width: 35%;
  height: 50%;
  white-space:pre-line;
  font-size: 1vw;
}
.how-info2 {
  width: 30%;
  text-align:left;
  height: 75%;
  display:flex;
  flex-direction: column;
  gap: 5vh;
}
.how-img1, .how-img2 {
  width: 100%;
  height: auto;
  padding:2%;
  background-color: #f5ef3762;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.how-img2 {
  background-color: #6DCA4C;
  margin-top: 10px;
}
.how-info2 p {
  font-size: 1vw;
}
.how-info2::after{
  content:'';
  position: absolute;
  background-color: #f5ef37;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  opacity: 0.4;
  z-index: -1;
  left: 85%;
}
.how-info2::before{
  content:'';
  position: absolute;
  background-color: #f5ef376b;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  opacity: 0.4;
  z-index: -1;
  left: 75%;
  top: 50%;
}
#how-mid {
  width: 30%;
  height: 100%;
}
.how-img1 img, .how-img2 img {
  width: 95%;
  height: 95%;
  margin:auto;
}
.how-info2 > a {
  padding: 2.5%;
  color: black;
  text-decoration: none;
  margin: auto;
  background-color: none;
  border: 1.5px solid;
}
#story {
  width: 80%;
  height: 100vh;
  display:flex;
  justify-content: center;
  margin: auto;
}
.story {
  width: 100%;
  display:flex;
  flex-direction: column;
  gap: 5vh;
  height: 100%;
}
.story-img {
  background-image: url('./images/apple-picker.png');
  width: 100%;
  height: auto;
  background-size:  contain;
  background-repeat: no-repeat;
}
.story-wrapper {
  padding: 5%;
    width: 100%;
    height: 100%;
    display:flex;
    background-image: url('./images/apple-picker.png');
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: right;

}
.story-wrapper div:first-child{
  width: 50%;
  display:flex;
  flex-direction: column;
  gap: 10vh;
}
#who-frp {
  width: 80%;
  height: 100vh;
  margin: auto;
  display:flex;
  flex-direction: column;
  gap: 5vh;
}
.who-info {
  display:flex;
  flex-direction: column;
  gap: 5vh;
  width: 50%;
  font-size: 1.5vw;
}
.who-img {
  width: 50%;
  background-color: black;
  border-radius:50%;
}
.who-partner {
  padding: .5%;
  text-align: center;
  width: 100%;
  height: 20%;
  background-color: #f5ef378e;
  display:flex;
  margin: auto;
  flex-direction:column;
}
.who-partner h1 {
  font-size: 2em;
}
.who-flex {
  display:flex;
  height: 80%;
}
.who-imgs {
  justify-content:space-around;
  display:flex;
  width: 100%;
  height: auto;
}
.who-york {
  width: 25%;
  height: 100%;
  border-radius: 50%;
  background-position:center;
  background-repeat: no-repeat;
  background-size:contain;
}
.who-flex2 {
  display:flex;
  width: 100%;
  height: 100%;
}
.who-partner-imgs {
  display:flex;
  width: 100%;
  height: 100%;
}
.who-partner-imgs div {
  width: 25%;
  height: 100%;
  background-position:center;
  background-size:contain;
  background-repeat: no-repeat;
}
#contact-frp {
  display:flex;
  flex-direction: column;
  width: 100%;
  padding: 2%;
  margin: auto;
  background-color:#C0E7B2;
  gap: 1vh;
}
#contact-frp > h2 {
  margin-left: 25%;
}
#contact-frp > h1 {
  font-size: 3em;
}
.contact-info {
  width: 100%;
  display:flex;
  gap: 10vw;
  justify-content: space-between;
}
.contact-grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10vh;
}
.contact-grid p {
  width: 50%;
}
.contact-info > div {
  width: 50%;
  display:flex;
  flex-direction: column;
  font-size: 1em;
}
#diff-wrapper {
  display: grid;
  background-color: #2C6916;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
#diff-wrapper img {
  max-width: 100%;
  height: auto;
}
#diff-wrapper ul {
  display:flex;
  flex-direction: column;
  color: white;
  width: 80%;
  margin: auto;
  gap: 10vh;
}
#diff-wrapper h3 {
  text-align: center;
  padding: 5%;
  color: white;
}
#login-form, #signup-form{
  background: rgb(24,102,9);
background: linear-gradient(6deg, rgba(24,102,9,1) 35%, rgba(41,167,18,1) 73%);
  display:flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-around;
  border-radius: 10%;
  border: 10px solid #2070109c;
  gap: 2vh;
  padding: 5%;
  color: white;
}
#login, #signup {
  font-size: 1vw;
  display:flex;
  width: 100%;
  min-height: 80vh;
  max-height: fit-content;
  justify-content:flex-end;
  align-items: center;
  padding: 5% 10%;
}
#login form, #signup form {
  width: 500px;
  max-height: auto;
}
#login-form button, #signup-form button {
  align-self: center;
  background-color: #59A559;
  padding: 2% 25% 2% 25%;
  border: 3px solid white;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}
#signup-form a, #login-form a {
  color:#93DE81;
  text-decoration: none;
}
#signup-form input[type="checkbox"]{
  width: initial;
  margin-right: 20px;
}
#conditions-label span{
  text-decoration: none;
  color: #6AAD40;
  font-weight: 700;
  cursor: pointer;
}
#account-label {
  display:flex !important;
  justify-content: center;
  align-items: center;
} 
#account-label input {
  width: 30% !important;
}
#login-form label, #signup-form label {
  font-size: 16px;
  display:inline-flex;
  width: 100%; 
}
#login-form input, #signup-form input {
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  border: none;
  background-color:#6AAD40;
  color: white;
  -webkit-text-fill-color: white;
}
#login-form input:focus, #signup-form input:focus {
  outline:none;
  border: 2px solid #2C6916;
}
#signup-form input:-webkit-autofill, #login-form input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #6AAD40 inset;
    background-color: #6AAD40 !important;
    -webkit-text-fill-color: white;
}
#foods {
  display: grid;
  min-height: 100vh;

}
#mission {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10vh;
  font-size: 1.5vw;
}
#mission div {
  width: 100%;
  height: 70vh;
  background-image: url('./images/map-marker.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
#food-waste {
  width: 100%;
  background-color: #2C6916;
  display:flex;
  color:white;
  padding: 3%;
  gap: 10vh;
}
#food-waste2{
  width: 100%;
  background-image: url('./images/grocery-bag.jpg');
  display:flex;
  background-size:100% 100%;
  background-position:right;
  background-repeat: no-repeat;
  color:white;
  padding: 3%;
  gap: 10vh;
  height: 80vh;
  background-color: #2C6916;
}
#food-waste2 span {
  font-size:2em;
  font-weight: 900;
}
#food-waste2 div {
  width: 45%;
  display:flex;
  flex-direction: column;
  gap: 10vh;
}

p {
  font-size: 20px;
}
#food-waste img {
  max-width: 100%;
  max-height: auto;
}
h1 {
  font-size: 2.5em;
}

@media screen and (max-width: 600px) {

  #food-waste {
    flex-direction: column;
    font-size: 12px;
  }
  #food-waste div {
    width: 100%;
  }
}
#food-waste div {
  display:flex;
  flex-direction: column;
  gap: 10vh;
  width: 45%;
}
#food-waste h1 {

}
.profile-data {
display:flex;
flex-direction: column;
gap: 3vh;
width: 80%;
}
#profile-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#join-flex {
  display:flex;
  width: 100%;
  height: 95vh;
  padding: 1%;
}
.join-text {
  display:flex;
  flex-direction: column;
  gap: 25%;
  height: 100%;
}
.join-img img {
   max-width: 100%;
   height: auto;
}
.join-img > div{
  background-image: url('./images/frp-landing-illustration.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.join-img {
  height: 100%;
  width: 100%;
}
.join-text > a {
  border: 1px solid;
  width: fit-content;
  border-radius: 50px;
  padding: 1rem 2rem;
  background-color: #93DE81;
  cursor:pointer;
  font-size: 1.5em;
}
#whohelp-grid {
  display:Grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  gap: 1vw;
}
.whohelp-info {
  display:flex;
  align-items: center;
  gap: 3vh;
  flex-direction: column;
}
.whohelp-info img {
  max-width: 75%;
  height: auto;
}
.whohelp-info ul {
  width: 75%;
}
.whohelp-info:nth-child(2){
  border-left: medium solid grey;
  border-right: medium solid grey;
}
#landing > div h1:nth-child(1){
  text-align: center;
}
h2 span {
  background-color: #f5ef3762;
}
#whohelp-wrapper {
  width: 100%;
  margin: auto;
}
#footer {
  background-color: rgb(71, 61, 61);
  color: white;
  padding: 1%;
}
#footer img {
  width:5vw;
  height: 5vw;
}
#footer-flex {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.links-wrapper{
  display:flex;
  gap: 10vw;
}
#footer-flex ul {
  list-style: none;
}
#map-container{
  width: 75%;
  height: 100vh;
  
}
#terms-modal {
  background-color: rgba(200, 200, 200, 0.55);
  width: 100vw;
  padding: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.terms-container {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.terms-container button {
  background-color: #2C6916;
  border-radius: 10px;
}
#howhelp-flex {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  gap: 5vh;
  align-items: center;
}
#howhelp-flex img {
  width: 30%;
  max-height: auto;
}
#howhelp-flex > div {
  display:flex;
  gap: 2vw;
}
#howhelp-flex > div > div {
  display:flex;
  gap: 2vh;
  flex-direction: column;
}
#howhelp-flex h2 {
  font-weight: 300;
}
#howuse-flex {
  background-image: url('./images/communication-icon.png');
  background-size:30%;
  background-repeat: no-repeat;
  background-position:right;
  padding: 5%;
}
#howuse-flex > div {
  display:flex;
  flex-direction: column;
  gap: 5vh;
  width: 70%;
}
#howuse-flex h2 {
  font-weight: 300;
}
#howuse-flex span {
  background-color: #47ff052c;
}